/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #FFFFFF;
  --addres: #32425C;
  --black: #000000;
  --footer: #293449;

  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --success: #5FBB2D;
  /*Успех*/
  --notification: #FFBF47;
  /*Предупреждение*/
  --warning: #BA2732;
  /*Ошибка*/
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", sans-serif;
  color: var(--black);
  background: var(--wight);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.search {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  background-color: var(--basic-grey);
  color: var(--wight);
}

.header-top {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  background-color: var(--basic-grey);
  color: var(--wight);
}

.order-background {
  background-color: var(--basic-green);
}

.cart-background {
  background-color: var(--basic-red);
}

.main-header h1 {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  color: var(--basic-red)
}

.phone-number {
  font-size: 21px;
  line-height: 30px;
  align-items: center;
  background-color: var(--basic-background);
  color: var(--basic-red);
}

.main-header address {
  font-size: 14px;
  line-height: 24px;
  background-color: var(--basic-background);
  color: var(--addres);
}

.header-navigation {
  background-color: var(--basic-grey);
}

.login a {
  font-size: 21px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: var(--black);
}

.header-navigation a {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: var(--wight);
}

.map-pop-up {
  display: none;
}

.write-us-pop-up {
  display: none;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.about-company p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company li {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.about-company .more-about-company {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--wight);
}

.footer-nav {
  background-color: var(--addres);
}

.footer-nav a {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: var(--wight);
}

.footer-nav .list-color {
  color: var(--special-yellowlight);
}

.footer p {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--footer);
  color: var(--wight);
}

.footer address {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  background-color: var(--addres);
  color: var(--wight);
}

.footer .footer-phone-number {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  background-color: var(--addres);
  color: var(--wight);
}

.developer-link {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  background-color: var(--footer);
  color: var(--special-yellowlight);
}

.log-name {
  font-size: 21px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: var(--black);
}

.main-header .log-menu a {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--addres);
}

.filter legend {
  font-family: 'PT Sans' sans-serif;
  font-size: 17px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
}

.layer a {
  font-family: 'PT Sans' sans-serif;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
}

.open-layer {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--basic-background);
  color: var(--addres);
}

.design-options {
  font-family: 'PT Sans'sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.drill-description {
  font-family: 'PT Sans' sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.price {
  font-family: 'PT Sans' sans-serif;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--wight);
}

.old-price {
  font-family: 'PT Sans' sans-serif;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.pop-up {
  display: none;
}

.catalog-drill .buy {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-green);
  color: var(--wight);
}

.catalog-drill .later {
  color: var(--addres);
  background-color: var(--basic-background);
}
